/* You can add global styles to this file, and also import other style files */
.desc {
  width: 50%;
}
.time {
  width: 20%;
}
.date {
  width: 30%;
}
td {
  border-collapse: collapse;
  padding: 4px 10px;
  border: 1px solid #eeeeee;
  border-top: none;
}
